select {
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.cont_title_table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}

.div_master_conteudo {
    display: flex;
    flex-direction: column; 
}

.container_tables {
    margin-top: 2%;
    align-items: center;
    margin-left: 3%;
}

.cont_tables {
    width: 76%;
}
.cont_status_users {
    background-color: red;
}

h5 {
    font-size: 12pt;
}

.cont_table_situation_title span{
    font-size: 13pt;

}
.cont_table_situation_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 15px;
}

.table_situation {
    margin: 10px;
    background: white;
    padding-bottom: 20px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    overflow-y: scroll;
    width: 100%;
    height: 50vh;
    border-radius: 30px 0px;

}

.table_situation::-webkit-scrollbar{
    width: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.486);
    
}

.table_situation::-webkit-scrollbar-thumb {
    background-color: #515153;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;

}

th {
    padding-bottom: 5px;
    font-size: 13pt;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.888);
    font-weight: bold;

}

thead tr {
    border: 1px red;
}

table tr td {
    text-align: center;
    padding: 5px;
}

tbody td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.198);    
    text-align: center;
}

table tr td i {
    margin-top: 2px;
    font-size: 12pt;
    padding: 4px;
    border-radius: 20px;
    color: white;
    cursor: pointer;

}

table tr td i:nth-child(1) {
    background-color: rgb(0, 0, 0);

}
table tr td i:nth-child(2) {
    background-color: red;

}

.cont-cards {
    margin-top: 1.5%;
    margin-left: 3%;
    display: flex;
    justify-content: start;
}

.cards {
    display: flex;
    width: 30%;
    margin: 10px 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
    background-color: white;
    border-radius: 10px;
}

.linha-2 {
    width: 100%;
}

.linha-2-cont {
   display: flex; 
   padding: 20px;
}


.linha-2-cont i {
    font-size: 26pt;
}

/* .title-linha {
    text-align: end;
    background-color: blueviolet;
    width: 100px;
} */


.linha-2-sub {
    margin-left: 15px;
}

.linha-2-situation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
.linha-2-situation div{
    text-align: center;
}

.linha-2-situation i {
    font-size: 25pt;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 20px;
}

.linha-2-situation h6 {
    font-size: 11pt;
    margin-bottom: 5px;
    font-weight: 400;
}



.linha-2-situation span {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
}

