select {
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.cont_title_table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}

.div_master_conteudo {
    display: flex;
    flex-direction: column;
}

.container_tables {
    margin-top: 2%;
    align-items: center;
    margin-left: 3%;
}

.cont_tables {
    width: 76%;
}

.cont_status_users {
    background-color: red;
}

h5 {
    font-size: 12pt;
}

.cont_table_situation_title span {
    font-size: 13pt;

}

.cont_table_situation_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 15px;
}

.table_situation {
    margin: 10px;
    background: white;
    padding-bottom: 20px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    overflow-y: scroll;
    width: 100%;
    height: 50vh;
    border-radius: 30px 0px;

}

.table_situation::-webkit-scrollbar {
    width: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.486);

}

.table_situation::-webkit-scrollbar-thumb {
    background-color: #515153;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;

}

th {
    padding-bottom: 5px;
    font-size: 13pt;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.888);
    font-weight: bold;

}

thead tr {
    border: 1px red;
}

table tr td {
    text-align: center;
    padding: 5px;
}

tbody td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.198);
    text-align: center;
    margin-bottom: -30px;
}

table tr td i {
    margin-top: 2px;
    font-size: 12pt;
    padding: 4px;
    border-radius: 20px;
    color: white;
    cursor: pointer;

}

table tr td i:nth-child(1) {
    background-color: rgb(0, 0, 0);

}

table tr td i:nth-child(2) {
    background-color: red;

}

.cont_cards {
    margin-top: 2%;
    display: flex;
    justify-content: start;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 10px 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.147);
    background-color: white;
    border-radius: 0px;
    padding: 20px;
}

.cards i {
    font-size: 30pt;
}

.card_title {
    font-size: 13pt;
}

.inf_card {
    display: flex;
    margin-left: 10px;
    text-align: center;
}

.qtd_veiculo,
.qtd_manutencao,
.total_manutencao,
.qtd_motoristas {
    font-weight: bold;
    font-size: 14pt;
    margin-left: 5%;
}

.linha-2 {
    width: 100%;
}

.linha-2-cont {
    display: flex;
    padding: 20px;
}


.linha-2-cont i {
    font-size: 26pt;
}

/* .title-linha {
    text-align: end;
    background-color: blueviolet;
    width: 100px;
} */


.linha-2-sub {
    margin-left: 15px;
}

.linha-2-situation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 20px;

}

.linha-2-situation div {
    text-align: center;
}

.linha-2-situation i {
    font-size: 25pt;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 20px;
}

.linha-2-situation h6 {
    font-size: 11pt;
    margin-bottom: 5px;
    font-weight: 400;
}



.linha-2-situation span {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
}

.filter_date {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.filter_date p {
    margin-right: 20px;
}

.cont_talbles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1%;

}

.cont_talbles div {
    margin: 10px;
    width: 100%;


}

.cont_talbles div p {
    color: black;
    font-size: 15pt;
    margin: 10px;
    font-weight: bold;
}

.div_cont_table {
    height: 50vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.147);

}

table {
    width: 100%;

}

table thead tr {
    font-weight: 200;
    background-color: #212124;


}

table thead tr th {
    color: white;
    padding: 15px;
    font-weight: 300;

}

table tbody tr td {
    padding: 15px;

}

table img {
    width: 10px;
}


.m-editar {
    position: fixed;
    top: 15%;
    left: 35%;
    width: 40%;
    box-shadow: 0px 0px 10px rgba(53, 53, 53, 0.403);
    background-color: white;
    padding: 10px;
    border-radius: 20px 0px;

}

.cont_icon {
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10%;
    margin-bottom: 10px;
    text-align: center;
}

.linha_central {
    margin-top: -2px;
}

.cont_sections {
    display: flex;
    margin-top: 3%;
}

.cont_sections div p {
    font-weight: 500;
}

.cont_sections div hr {
    margin-top: 10px;
}

.m-editar img {
    width: 100%;
}

.m-editar .nomeCliente {
    font-size: 1.8rem;
    margin-top: 20px;

    text-align: center;
}


.cont-id_vaga {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.cont-id_vaga span {
    margin-left: 10px;
    height: 4vh;
    width: 2vw;
    padding-top: 7px;
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #3B3B3B;
    border-radius: 5px;
}

.inps {
    display: flex;
    justify-content: center;
    margin: 0px 10px 10px 10px;

    /* padding: 20px; */
}

.inps div {
    /* margin-top: 10px; */
    margin: 10px;

}

.inps p {
    font-size: 11pt;
}

.inps input {
    height: 28px;
    text-align: center;
    font-size: 11pt;
    border-radius: 20px;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.426);
}

.inps select {
    height: 27px;
    width: 9vw;
}

.status-cont {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    color: white;
    width: 9vw;
}

.cont_select {
    margin-top: 2%;
    margin-bottom: -20px;
}

.cont_select select {
    width: 10%;

}

.graficos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.graphics_donout {
    width: 15%;
}

.graphics_donout div {
    margin-top: 10%;
}

.graphics_line {
    width: 60%;
}