main {
    display: flex;
}



.inps_descri {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inp_datas {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 3%;
}

.inp_datas button {
    padding: 5px 15px;
    border-radius: 30px;
    border: 0px;
    background-color: #212124;
    color: white;
}

.inps_descri textarea {
    padding: 5px;
    width: 70%;
    margin: 0 auto;
}

.inps_descri p {
   text-align: center;
    margin-bottom: 10pX;
}

.conteudo {
    margin: 0px 50px;
    width: 100%;

}

.linha-1 {
    font-size: 13pt;
    display: flex;
    align-items: center;

}

.linha-1-sub {
    margin-left: 20px;
}
.linha-1-sub h5 {
    font-size: 14pt;
    font-weight: 600;
}
.linha-1-sub p {
    font-size: 12pt;
}

.linha-1 i  {
    font-size: 20pt;
    padding: 10px;
    border-radius: 10px;
    color: rgb(236, 236, 236);
    background-color: rgba(15, 8, 8, 0.842);
}


.cont_tables_tools {
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    margin-top: 2%;
   
}

table {
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    table-layout: fixed;

}

table tr {
    display: flex;

}

table tbody {

    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */



}

tbody {}

tbody tr {
    padding-left: 20px;

    border-bottom: 2px solid rgba(0, 0, 0, 0.253);

}

tbody tr:last-child {
    background-color: #eeeeee;
    position: relative;
}

tbody tr:last-child::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 50px;
    /* altura do espaço vazio */
    transform: translateY(-100%);
}

tbody tr td {
    width: 100%;
    padding: 10px;
}

table tr th {
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    color: rgb(248, 248, 248);
}

table tr td {
    margin-top: 2px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

thead tr {
    background-color: #212124;
    padding: 10px;
}


table tr td i {
    margin-top: 2px;
    font-size: 12pt;
    padding: 4px;
    border-radius: 20px;
    color: white;
}

table tr td i:nth-child(1) {
    background-color: rgb(0, 0, 0);

}

table tr td i:nth-child(2) {
    background-color: red;

}

tbody tr td img {
    width: 6%;
}


.tools_pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5%;
    background-color: #212124;
}

.table_and_edit {
    display: flex;
    justify-content: center;
}


.m-editar {
    position: absolute;
    top: 14%;
    left: 35%;
    width:35%;
    box-shadow: 0px 0px 10px rgba(53, 53, 53, 0.403);
    background-color: white;
    padding: 10px;

}
.cont_icon {
    width: 35%;
    margin: 0 auto;
    display: flex;
    justify-self: center;
    margin-top: -20%;

}

.linha_central {
    margin-top: -2px;
}

.cont_sections {
    display: flex;
    margin-top: 3%;
}

.cont_sections div p {
    font-weight: 500;
}

.cont_sections div hr {
    margin-top: 10px;
}

.m-editar img {
    width: 100%;
}

/* .m-editar {
    position: absolute;
    top: 8%;
    left: 38%;
    width: 30%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgb(53, 53, 53);
    background-color: white;
    padding: 10px;
} */


.m-editar .nomeCliente {
    font-size: 1.8rem;
    margin-top: 20px;
    
    text-align: center;
}


.cont-id_vaga {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.cont-id_vaga span {
    margin-left: 10px;
    height: 4vh;
    width: 2vw;
    padding-top: 7px;
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #3B3B3B;
    border-radius: 5px;
}
.inps {
    display: flex;
    justify-content: center;
    margin: 0px 10px 10px 10px;  

    /* padding: 20px; */
}

.inps div {
    /* margin-top: 10px; */
    margin: 10px;
    
}
.inps p{
    font-size: 11pt;
    text-align: center;
}
.inps input {
    height: 28px;
    text-align: center;
    font-size: 11pt;
    border-radius: 20px;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.426);
}

.inps select {
    height: 27px;
    width: 9vw;
}

.status-cont {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    color: white;
    width: 9vw;
}
.status-cont select {
    margin-left: 10px;
}

.value-status {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3B3B3B;
    /* background-color: rgb(230, 230, 230); */
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 3px;
    font-weight: 600;

}

.value-status div {
    display: flex;
}

.value-status input {
    margin-left: 10px;
}

.cont-button-status  button {
    cursor: pointer;
    padding: 5px 15px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.cont-button-status  button:nth-child(1) {
    background-color: black;
    color: white;
}

.cont-button-status  button:nth-child(2) {
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.336);
    color: rgb(0, 0, 0);
}

.cont-btns {
    cursor: pointer;
}

.modal-certo button {
    background-color: #12D76E;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    margin-top: 10px;
}

.modal-errado-nao-existe button {
    background-color: #ee0f0f;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    margin-top: 10px;
}


.cont_dispo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao {
    resize: none;
}

.inp_valor {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.inp_valor p {
    margin-bottom: 0px;
}

.manutencao_section_title {
    margin-left: 5%;
}

.cont_manutencao {
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
}

.manutencao {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    margin: 2% 2%;
    border-radius: 20px 0px;
    padding: 10px;

}

.cont_information_manutencao {
    display: flex;
}

.cont_icon_manutencao {
    width: 8%;
}

.icon_manutencao img {
    width: 100%;
}

.cont-icon_edit  {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 20pt;
    margin-top: 3px ;
    width: 15%;
}

.cont_inf_manu {
    display: flex;
    align-items: center;
    width: 80%;
}

.cont_inf_manu div {
    display: flex;
}
.cont_inf_manu div  p {
    padding: 2px;
}

.cont_inf_manu div  p:nth-child(1) {
    font-weight: 500;
}


.cont_inf_id_data {
    display: flex;
    align-items: center;
}

.cont_cards_information {
    display: flex;
}
.cards_information {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    width: 160px;
    height: 140px;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px;
    border-radius: 10%;
}

.cards_information i {
    text-align: center;
    font-size: 30pt;
}

.qtd_veiculos {
    color: white;
    background-color: #212124;
    padding: 2px;
    width: 30px;
    margin: 5% auto 0px auto;
    border-radius: 100%;
}



.btn_add_manutencao{
    background-color: #212124;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.inps_descri_section_create_manu {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.inps_descri_section_create_manu  h2 {
    
    margin-bottom: 20px;
}

